# PostgreSQL Configuration
POSTGRES_USER=<your-database-username>
POSTGRES_PASSWORD=<your-database-password>
POSTGRES_DB=<your-database-name>

# Application Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/<your-database-name>
SPRING_DATASOURCE_USERNAME=<your-database-username>
SPRING_DATASOURCE_PASSWORD=<your-database-password>
SPRING_PROFILES_ACTIVE=prod
